@import url(https://fonts.googleapis.com/css?family=Gabarito);
@import url(https://fonts.googleapis.com/css?family=Montserrat);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', 'Montserrat', monospace;
    font-weight: 500;
    background-image: url('/image_file/template.png');
}

a {
    text-decoration: none;
    color: black;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border: .5px solid #f1f1f1;
    background-color: white;
}

    header img, button{
        height: 40px;
        border-radius: 10px;
    }


#nav_bar {
    list-style: none;
}

    #nav_bar li {
        line-height: 36px;
        display: inline-block;
        padding: 2px 10px;
        border-radius: 7px;
        transition-duration: .5s;
    }

    #nav_bar a {
        font-size: 16px;
    }

    #nav_bar li:hover {
        background-color: #f1f1f1;
    }

#nav_but {
    padding: 0px 15px;
    background-color: black;
    color: white;
    border-color: none;
    font-weight: bold;
}

/* Section */
section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 2rem 10%;
}

.about_me {
    border: 2px solid black;
    border-radius:  15px;
    background: white;
    padding: 20px;
}

    .about_me p {
        line-height: 25px;
    }

.resume_but {
}
    .resume_but button{
        padding: 25px 20px;
        line-height: 0;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 16px
    }

    .grid_item {
        display: grid;
        justify-content: center;
        align-items: center;
    }


/* Responsive */
